<a href="https://colab.research.google.com/github/alaks1377/talking_data_ensemble/blob/main/Bagging_Boosting_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [61]:
import pandas as pd

In [62]:
data = pd.read_csv('/content/talking_data.csv')

In [63]:
data.head()

,ip,app,device,os,channel,click_time,attributed_time,is_attributed
0,87540,12,1,13,497,2017-11-07 09:30:38,NaN,0
1,105560,25,1,17,259,2017-11-07 13:40:27,NaN,0
2,101424,12,1,19,212,2017-11-07 18:05:24,NaN,0
3,94584,13,1,13,477,2017-11-07 04:58:08,NaN,0
4,68413,12,1,1,178,2017-11-09 09:00:09,NaN,0

#**1. Explore the dataset for anomalies and missing values and take corrective actions if necessary.**

In [64]:
data.isnull().sum()

ip                     0
app                    0
device                 0
os                     0
channel                0
click_time             0
attributed_time    99773
is_attributed          0
dtype: int64

#**2. Which column has maximum number of unique values present among all the available columns**

In [65]:
cols=data.columns

In [66]:
for col in cols:
  unique=len(data[col].unique())
  print("{} Columns has {} Unique Values".format(col,unique))
  #print(col,unique)

ip Columns has 34857 Unique Values
app Columns has 161 Unique Values
device Columns has 100 Unique Values
os Columns has 130 Unique Values
channel Columns has 161 Unique Values
click_time Columns has 80350 Unique Values
attributed_time Columns has 228 Unique Values
is_attributed Columns has 2 Unique Values

#**3. Use an appropriate technique to get rid of all the apps that are very rare (say which comprise of less                than 20% clicks) and plot the rest..**

In [67]:
app_id=data.app.value_counts()
total_sum=app_id.sum()
uaid=data.app.unique()

In [68]:
total_sum*0.2

20000.0

In [69]:
#2% of total Clicks
limit=total_sum*0.02
x=app_id.values
greater=[]
less=[]
for i in range(len(app_id)):
  if x[i]>limit:
    y=uaid[i]
    greater.append(y)
  else:
    y=uaid[i]
    less.append(y)


print("Frequently used apps id:",greater)
print("App id Less Frequently used",less)

Frequently used apps id: [12, 25, 13, 3, 1, 9, 2, 6, 20, 14]
App id Less Frequently used [64, 7, 15, 18, 11, 8, 23, 21, 56, 28, 36, 22, 26, 17, 27, 10, 60, 58, 19, 32, 24, 4, 53, 125, 204, 5, 202, 70, 47, 29, 55, 103, 35, 83, 208, 146, 161, 46, 62, 65, 110, 42, 150, 266, 151, 148, 72, 310, 93, 94, 71, 43, 39, 170, 37, 68, 54, 107, 398, 160, 30, 183, 315, 45, 121, 38, 82, 134, 33, 233, 100, 44, 109, 59, 74, 61, 104, 66, 67, 273, 192, 50, 118, 372, 48, 232, 165, 91, 123, 88, 538, 49, 16, 105, 536, 216, 425, 117, 551, 99, 86, 101, 394, 78, 95, 181, 76, 34, 124, 548, 108, 85, 145, 79, 97, 75, 52, 215, 84, 96, 81, 139, 267, 80, 137, 119, 474, 158, 293, 122, 112, 149, 363, 271, 31, 171, 87, 168, 176, 347, 163, 190, 486, 133, 302, 268, 407, 116, 92, 115, 261]

In [70]:
app_id

3      18279
12     13198
2      11737
9       8992
15      8595
       ...
145        1
97         1
96         1
267        1
261        1
Name: app, Length: 161, dtype: int64

#**4. By using Pandas derive new features such as - 'day_of_week' , 'day_of_year' , 'month' , and 'hour' as                  float/int datatypes using the 'click_time' column . Add the newly derived columns in original dataset.**

In [71]:
data.click_time

0        2017-11-07 09:30:38
1        2017-11-07 13:40:27
2        2017-11-07 18:05:24
3        2017-11-07 04:58:08
4        2017-11-09 09:00:09
                ...
99995    2017-11-09 13:25:41
99996    2017-11-07 11:25:43
99997    2017-11-08 11:38:42
99998    2017-11-08 17:55:21
99999    2017-11-07 14:32:27
Name: click_time, Length: 100000, dtype: object

In [72]:
from datetime import datetime
data.click_time=pd.to_datetime(data.click_time)

In [73]:
data['month']=pd.DatetimeIndex(data.click_time).month

In [74]:
data['day_of_year']=pd.DatetimeIndex(data.click_time).dayofyear
data['day_of_week']=pd.DatetimeIndex(data.click_time).dayofweek

In [75]:
data['hour'] = pd.DatetimeIndex(data.click_time).hour

In [76]:
data

,ip,app,device,os,channel,click_time,attributed_time,is_attributed,month,day_of_year,day_of_week,hour
0,87540,12,1,13,497,2017-11-07 09:30:38,NaN,0,11,311,1,9
1,105560,25,1,17,259,2017-11-07 13:40:27,NaN,0,11,311,1,13
2,101424,12,1,19,212,2017-11-07 18:05:24,NaN,0,11,311,1,18
3,94584,13,1,13,477,2017-11-07 04:58:08,NaN,0,11,311,1,4
4,68413,12,1,1,178,2017-11-09 09:00:09,NaN,0,11,313,3,9
...,...,...,...,...,...,...,...,...,...,...,...,...
99995,124883,11,1,19,122,2017-11-09 13:25:41,NaN,0,11,313,3,13
99996,85150,9,1,13,244,2017-11-07 11:25:43,NaN,0,11,311,1,11
99997,18839,3,1,13,19,2017-11-08 11:38:42,NaN,0,11,312,2,11
99998,114276,15,1,12,245,2017-11-08 17:55:21,NaN,0,11,312,2,17
99999,119349,14,1,15,401,2017-11-07 14:32:27,NaN,0,11,311,1,14

In [77]:
data=data.drop(columns=['attributed_time','click_time'])

In [78]:
data.head()

,ip,app,device,os,channel,is_attributed,month,day_of_year,day_of_week,hour
0,87540,12,1,13,497,0,11,311,1,9
1,105560,25,1,17,259,0,11,311,1,13
2,101424,12,1,19,212,0,11,311,1,18
3,94584,13,1,13,477,0,11,311,1,4
4,68413,12,1,1,178,0,11,313,3,9

#**5. Divide the data into training and testing subsets into 80:20 ratio(Train_data = 80% , Testing_data = 20%) and
     check the average download rates('is_attributed') for train and test data, scores should be comparable.**

In [79]:
from sklearn.model_selection import train_test_split
x = data.drop(columns=['is_attributed'])
y = data.is_attributed

In [80]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.20)

In [81]:
print(y_train.value_counts())

0    79821
1      179
Name: is_attributed, dtype: int64

we need to balance the dataset

In [82]:
from  imblearn.over_sampling import SMOTE
sm = SMOTE()
x_train, y_train = sm.fit_resample(x_train,y_train)
print(y_train.value_counts())

0    79821
1    79821
Name: is_attributed, dtype: int64

#**6. Apply XGBoostClassifier with default parameters on training data and make first 10 prediction for Test data.          NOTE: Use y_pred = model.predict_proba(X_test) since we need probabilities to compute AUC.**

In [83]:
import xgboost as xgb
xgb_cl = xgb.XGBClassifier()
print(type(xgb_cl))
xgb_cl.fit(x_train,y_train)

<class 'xgboost.sklearn.XGBClassifier'>

XGBClassifier()

In [84]:
y_pred = xgb_cl.predict_proba(x_test)
print(y_pred[:10])
pred_y = xgb_cl.predict(x_test)
print(pred_y[:10])

[[0.96668833 0.03331166]
 [0.9441895  0.05581049]
 [0.85065925 0.14934072]
 [0.9813381  0.01866191]
 [0.9767683  0.02323166]
 [0.99445075 0.00554925]
 [0.9848102  0.01518983]
 [0.9654062  0.03459381]
 [0.98152375 0.01847624]
 [0.8853891  0.1146109 ]]
[0 0 0 0 0 0 0 0 0 0]

#**7. On evaluating the predictions made by the model what is the AUC/ROC score with default hyperparameters.*

In [91]:
from sklearn.metrics import roc_auc_score,confusion_matrix
auc_score = roc_auc_score(y_test,pred_y)
print("Accuracy score is:",round(auc_score*100))
display(confusion_matrix(y_test,pred_y))

Accuracy score is: 89

array([[19266,   686],
       [    9,    39]])

#**8. Compute feature importance score and name the top 5 features/columns .**

In [86]:
data.corr()

,ip,app,device,os,channel,is_attributed,month,day_of_year,day_of_week,hour
ip,1.000000,0.010400,-0.001499,-0.000470,0.007563,0.054955,NaN,0.057067,0.057067,-0.007955
app,0.010400,1.000000,0.248376,0.247160,-0.028238,0.064426,NaN,-0.032182,-0.032182,0.026079
device,-0.001499,0.248376,1.000000,0.924456,-0.035398,-0.000695,NaN,-0.040110,-0.040110,0.012035
os,-0.000470,0.247160,0.924456,1.000000,-0.033175,0.006183,NaN,-0.031336,-0.031336,0.014660
channel,0.007563,-0.028238,-0.035398,-0.033175,1.000000,-0.023336,NaN,0.000265,0.000265,-0.021326
is_attributed,0.054955,0.064426,-0.000695,0.006183,-0.023336,1.000000,NaN,-0.000603,-0.000603,-0.002944
month,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
day_of_year,0.057067,-0.032182,-0.040110,-0.031336,0.000265,-0.000603,NaN,1.000000,1.000000,-0.274896
day_of_week,0.057067,-0.032182,-0.040110,-0.031336,0.000265,-0.000603,NaN,1.000000,1.000000,-0.274896
hour,-0.007955,0.026079,0.012035,0.014660,-0.021326,-0.002944,NaN,-0.274896,-0.274896,1.000000

#**9. Apply BaggingClassifier with base_estimator LogisticRegression and compute AUC/ROC score.

In [87]:
from sklearn.ensemble import BaggingClassifier

bc = BaggingClassifier(n_estimators=10, max_samples =.7, bootstrap=True)
bc = bc.fit(x_train,y_train)

bag_preds = bc.predict(x_test)
display(confusion_matrix(y_test,bag_preds))

print(roc_auc_score(y_test, bag_preds))

array([[19886,    66],
       [   30,    18]])

0.6858460304731355

#**10.  On the basis of AUC/ROC score which one will you choose from BaggingClassifier and XGBoostClassifier and              why?What does AUC/ROC score signifies?

Auc/ROC signifies accuracy of the model.
When it closer to 1, we can say that the classifier is performing good.
Value closer to -1 has bad performance.

#**11.  What is the accuracy for BaggingClassifier and XGBoostClassifier?()

In [88]:
print('accuracy score for xgboostclassifier is',auc_score)
print('accuracy score for baggingclassifier is',roc_auc_score(y_test, bag_preds))

accuracy score for xgboostclassifier is 0.889058740978348
accuracy score for baggingclassifier is 0.6858460304731355